{% extends 'nav.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row"
        style="margin: 30px 0 0 0; background-color:rgb(94, 249, 249); height: 60px; text-align:center; padding:10px 0 0 0;">

        <div class="col-sm">
            <h3>GUEST DASHBOARD</h3>
        </div>


    </div>

    <div class="row border" style="margin: 50px 0 0 0; padding: 30px 50px;">
        <div class="row border" style="margin: 0 0 30px 0;">
            <div class="col-sm ">
                <h3 style="text-align: center;">Personal Informtion</h3>
            </div>

        </div>



        <form action="" method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="row border" style="margin: 0 0 20px 0;">
                <div class="col-sm-3 ">

                </div>
                <div class="row border" style="margin: 0 0 20px 0;">
                    <div class="col-sm-1">
        
                    </div>
                    <div class="col-sm-3 " style="padding: 40px 0 0 0;">
                       <p>Update Profile Photo: </p>
                        <div >
                            <p>{{form.profile_pic}}</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-3" style="margin: 20px 20px 0;">
                        <p style="font-size: 17px;">First Name: {{form.first_name}}</p>
                        <p style="font-size: 17px;">LastName: {{form.last_name}}</p>
                        
                    </div>
                    <div class="col-sm-3">
        
                    </div>
                </div>
        
        
        
                <div class="row border" style="margin: 0 0 30px 0;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 border ">
                        <p style="font-size: 17px;">UserName: {{form.username}}</p>
                    </div>
                    <div class="col-sm border">Documents: {{form.document}}</div>
                </div>
        
        


            <div class="row border" style="margin: 0 0 30px 0;">
                <div class="col-sm-1 ">

                </div>
                <div class="col-sm-4 ">
                    <p style="font-size: 17px;">Age:</p>
                    <p style="font-size: 17px;">{{form.age}}</p>
                </div>
                <div class="col-sm-2 ">

                </div>
                <div class="col-sm-4 ">
                    <p style="font-size: 17px;">Gender:</p>
                    <p style="font-size: 17px;">{{form.gender}}</p>
                </div>
                <div class="col-sm-1 ">

                </div>
            </div>

            <div class="row border" style="margin: 0 0 30px 0;">
                <div class="col-sm-1 ">

                </div>
                <div class="col-sm-4 ">
                    <p style="font-size: 17px;">Email:</p>
                    <p style="font-size: 17px;">{{form.email}}</p>
                </div>
                <div class="col-sm-2 ">

                </div>
                <div class="col-sm-4 ">
                    <p style="font-size: 17px;">Phone No:</p>
                    <p style="font-size: 17px;">{{form.phn_no}}</p>
                </div>
                <div class="col-sm-1 ">

                </div>
            </div>


            <div class="row border" style="margin: 0 0 30px 0;">
                <div class="col-sm-1 ">

                </div>
                <div class="col-sm-4 ">
                    <p>Native Address:</p>
                    <p>{{form.native_address}}</p>
                </div>
                <div class="col-sm-2 ">

                </div>
                <div class="col-sm-4 ">
                    <p>Work Address: </p>
                    <p>{{form.current_address}}</p>
                </div>
                <div class="col-sm-1 ">

                </div>
            </div>

            <center><button class="btn btn-primary btn-lg">Update</button></center>
        </form>


    </div>


</div>

<br><br><br><br>
{% endblock %}